.icon-container {
	width: 40%;
	float: left;
}

.editor {
	width: 60%;
	float: left;
	height: 800px;
}

.svg-container {
	border: 1px solid;
	height: 800px;
}

.pictogram {
	border:1px solid;
    cursor: move;
    resize:both;
}